body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #d3d2d2;
    padding: 5px 0;
}

.caixa{
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 40px;
    margin: 0 auto;
    right: 0;
}

nav li{
    display: inline;
    padding: 0 0 0 100px;
}

nav a{
    font-family: 'playflair display', sans-serif;
    color: #0F024D;
    text-decoration: none;
}

nav a:hover{
    color: #DF402B;
}

.banner{
    width: 100%;
}

.sobre-principal{
    margin: 0 auto;
    width: 1280px;

}

.sobre-titulo{
    margin: 30px auto;
    font-weight: bold;
    font-size: 20px;    
}

.sobre-principal p {
    position: static;
    display: inline-block;
    width: 320px;
    vertical-align: top;
    margin: 0 0 150px 0;
}

.imagem-escritorio{
    width: 30%;
    vertical-align: top;
    margin: 0 200px 10px 0;
    float: right;
}

.serviços-principal{
    margin: 0 auto 50px auto;
    width: 1280px;
}

.serviços-titulo{
    margin: 50px auto;
    font-size: 20px;  
    font-weight: bold;
    text-align: center;
}

.lista-serviços{
    text-align: center;
}

.lista-serviços li{
    display: inline-block;
    width: 16%;
    height: 170px;
    vertical-align: top;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -19.58%, #E4E4E4 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 23.35%, #878787 100%);
    border: 1px solid rgba(189, 189, 189, 0.48);
    border-radius: 27px;
    margin: 0 1%;
    padding: 5px;
}

.lista-serviços h4 {
    font-weight: bold;
    padding: 1em 0;
}

footer{
    background: #d3d2d2;
    padding: 40px 0;
}

.rodape{
    width: 1280px;
    margin: 0 auto;
}

.imagem-rodape{
    display: inline-block;
    margin: 0 80px 0 0;
}

.contato-rodape{
    display: inline-block;
    vertical-align: top;
    right: 0;
    float: right;
}

.contato-titulo{
    font-weight: bold;
    margin: 0 0 10px 0;
}

.contato-rodape li{
    padding: 5px 0;
}

.copyright{
    text-align: center;
    color: #000000;
    font-size: 13px;
    margin-top: 50px;
}