body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #d3d2d2;
    padding: 5px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 40px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 50px;
}

nav a{
    font-family: 'playflair display', sans-serif;
    color: #0F024D;
    text-decoration: none;
}

nav a:hover{
    color: #DF402B;
}

.sobre-principal{
    margin: 0 auto;
    width: 940px;

}

.sobre-titulo{
    margin: 30px auto;
    font-weight: bold;
    
}

.sobre-principal p {
    position: static;
    display: inline-block;
    width: 320px;
    vertical-align: top;
}

.imagem-escritorio{
    width: 27%;
    margin: 0 auto;
    float: right;
}

.serviços-principal{
    margin: 0 auto;
    width: 940px;
}

.serviços-titulo{
    margin: 50px auto;
    font-weight: bold;
    text-align: center;
}

.lista-serviços{
    text-align: center;
}

.lista-serviços li{
    display: inline-block;
    text-align: center;
    width: 12%;
    margin: 0 1.5%;
    border: 2px solid #000000;
    padding: 1em;
}

footer{
    background: #d3d2d2;
    padding: 40px 0;
}

.rodape{
    width: 940px;
    margin: 0 auto;
}

.imagem-rodape{
    display: inline-block;
    margin: 0 100px 0 0;
}

.contato-rodape{
    display: inline-block;
    vertical-align: top;
    right: 0;
    float: right;
}

.contato-titulo{
    font-weight: bold;
    margin: 0 0 10px 0;
}

.copyright{
    text-align: center;
    color: #000000;
    font-size: 13px;
    margin-top: 20px;
}